docs/WWS/app_client/all/htmls/aboutUs.html
<navigation></navigation>
<div class="textbox">
  <p class="minititle">Our Mission</p>
  <p class="boxtext">Vrlo poucan tekst Vrlo poucan tekst Vrlo poucan tekst Vrlo poucan tekst Vrlo poucan tekst Vrlo poucan tekst Vrlo poucan tekst Vrlo poucan tekst Vrlo poucan tekst Vrlo poucan tekst </p>
</div>
<div class="textbox">
  <p class="minititle">Our Vision</p>
  <p class="boxtext">Vrlo poucan tekst Vrlo poucan tekst Vrlo poucan tekst Vrlo poucan tekst Vrlo poucan tekst Vrlo poucan tekst Vrlo poucan tekst Vrlo poucan tekst Vrlo poucan tekst Vrlo poucan tekst </p>
</div>
<div class="textbox">
  <p class="minititle">Who we are</p>
  <p class="boxtext">Vrlo poucan tekst Vrlo poucan tekst Vrlo poucan tekst Vrlo poucan tekst Vrlo poucan tekst Vrlo poucan tekst Vrlo poucan tekst Vrlo poucan tekst Vrlo poucan tekst Vrlo poucan tekst </p>
</div>

docs/WWS/app_server/views/aboutUs.pug
extends layout

block content
    .textbox
      p.minititle= ourMission
      p.boxtext= text1
    .textbox
      p.minititle= ourVision
      p.boxtext= text2
    .textbox
      p.minititle= whoWeAre
      p.boxtext= text3
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
