docs/visitor/aboutusvisitor/aboutusvisitors.html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- Prevedena in minimizirani slogi CSS verzije 3.3.7 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Opcijske teme verzije 3.3.7 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="../../WWS/public/stylesheets/aboutusvisitors.css">
    
    <title>About Us</title>
        
    
</head>



<body>


<!--  -------------------------------- NavBar --------------------------------  -->   

  <div class="container-fluid">
    
    
    
    <div class="navbar desktop_menu_div">
      <ul  class="desktop_menu_ul">
        <li class="desktop_menu_list"> <a href="../homevisitors/homevisitors.html"> HOME </a> </li>
        <li class="desktop_menu_list active"> <a href="../aboutus/aboutus.html"> ABOUT US </a> </li>
        <li class="desktop_menu_list"> <a href="../login/login.html"> SIGN IN </a> </li>
        <li class="desktop_menu_list"> <a href="../register/register.html"> REGISTER </a> </li>
      </ul>
      <div class="search_right_desktop_menu">
        <a href="#"> <i class="fa fa-search"></i> </a>
      </div>
    </div>
              
              
              
<!--  -------------------------------- MiniNavBar --------------------------------  -->      
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-1324">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <i class="fa fa-bars"></i>
            </button>
            <a href="#"  class="search_right_desktop_menu"> <i class="fa fa-search"> </i> </a>
          </h5>
        </div>
      
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <div class="navbar">
              <ul class="mini_ul">
                <li> <a href="../homevisitors/homevisitors.html">HOME <i class="fa fa-home"></i> </a> </li>
                <li class="active"> <a href="../aboutus/aboutus.html">ABOUT US <i class="fa fa-heart"></i> </a> </li>
                <li> <a href="../login/login.html">SIGN IN <i class="fa fa-sign-in-alt"></i> </a> </li>
                <li> <a href="../register/register.html">REGISTER <i class="fa fa-registered"></i> </a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
      
      
 </div>
    
<!--  -------------------------------- NavBar --------------------------------  -->    
    
    
  <div class="textbox"> <p class="minititle"> Our Mission </p> <p class="boxtext"> MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta </p> </div>
  <div class="textbox"> <p class="minititle"> Our Vision </p> <p class="boxtext"> MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta</p> </div>
  <div class="textbox"> <p class="minititle"> Who we are </p> <p class=boxtext> MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta  </p> </div>
    
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  
  
</body>
</html>



<!-- 

COLORS NavBar

#091216 - Black-ish -- Background color
#4F5558 - Less black-ishhh -- Hover color 
#FFD400 - Yellow -- Active color
#F6F6E9 - White -- Text color
#1C323F - Blue-ish -- Focus


-->

docs/WWS/app_server/views/aboutUsVisitors.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    // Prevedena in minimizirani slogi CSS verzije 3.3.7
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    // Opcijske teme verzije 3.3.7
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")
    // Icons
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
    link(rel="stylesheet" type="text/css" href="/stylesheets/aboutusvisitors.css")
    title About Us
  body
    // -------------------------------- NavBar --------------------------------
    .container-fluid
      .navbar.desktop_menu_div
        ul.desktop_menu_ul
          li.desktop_menu_list
            a(href="/homevisitors")  HOME
          li.desktop_menu_list
            a(href="/aboutus")  ABOUT US
          li.desktop_menu_list
            a(href="/login")  SIGN IN
          li.desktop_menu_list
            a(href="/register")  REGISTER
        .search_right_desktop_menu
          a(href="#")
            i.fa.fa-search
      // -------------------------------- MiniNavBar --------------------------------
      #accordionExample.accordion
        .card
          #headingOne.card-header
            h5.mb-1324
              button.btn.btn-link(type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
                i.fa.fa-bars
              a.search_right_desktop_menu(href="#")
                i.fa.fa-search
          #collapseOne.collapse(aria-labelledby="headingOne" data-parent="#accordionExample")
            .card-body
              .navbar
                ul.mini_ul
                  li
                    a(href="/homevisitors")
                      | HOME
                      i.fa.fa-home
                  li.active
                    a(href="/aboutusvisitors")
                      | ABOUT US
                      i.fa.fa-heart
                  li
                    a(href="/login")
                      | SIGN IN
                      i.fa.fa-sign-in-alt
                  li
                    a(href="/register")
                      | REGISTER
                      i.fa.fa-registered
    // -------------------------------- NavBar --------------------------------
    .textbox
      p.minititle  Our Mission
      p.boxtext
        | MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta
    .textbox
      p.minititle  Our Vision
      p.boxtext
        | MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta
    .textbox
      p.minititle  Who we are
      p.boxtext
        | MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
//
  COLORS NavBar
  #091216 - Black-ish -- Background color
  #4F5558 - Less black-ishhh -- Hover color
  #FFD400 - Yellow -- Active color
  #F6F6E9 - White -- Text color
  #1C323F - Blue-ish -- Focus
