docs/WWS/app_server/views/edit.pug
extends layout

block content
  .profilecard
    .imgedit
      img.img-circle(src="/images/stefan.jpg" alt="User's picture")
      button.edit
        i.fas.fa-edit
      button.delete
        i.fa.fa-trash
    form#forma(method="#" action="#" onsubmit="return validation2();")
      p
        label#firstname= fname
        input#ime(type="text" maxlength="15" name="firstname"  size="25" placeholder="Stefan" )
        span#first1


      p
        label= lname
        input#prezime(type="text" name="lastname" maxlength="20" size="25" placeholder="Ivanisevic")
      p
        span name@domain
        input#mail(type="email" name="email" size="25" placeholder="si0539@student.uni-lj.si")
        label= email
      p
        label= tel
        input#tel(type="tel" name="phone" size="25" placeholder="+386 51 787 871" pattern="\+[0-9]{3} [0-9]{2} [0-9]{3} [0-9]{3}")
        span +*** ** *** ***
      p
        label= pass
        input#pass.pass(type="password" name="password" size="25" placeholder="Passwords need to match!")

      p
        label= rpass
        input#repass.pass(type="password" name="repassword" size="25" placeholder="Passwords need to match!")

      p
        label= bday
        input(style="color: #FFD400" type="date" name="date" size="25" value="2018-05-23")
      button.restartdugme(type="reset")
        i.fa.fa-trash
      button#submit.editbutton(type="submit" onclick="click_submit()") Save changes
  .profilecardmini
    .imgedit
      img.img-circle(src="/images/stefan.jpg" alt="User's picture")
      button.edit
        i.fas.fa-edit
      button.delete
        i.fa.fa-trash
    form#formamini(method="#" action="#")
      p#para_name
        label#firstname= fname
        input#name(type="text" maxlength="15" onkeyup="checkString()" size="25" name="firstname" placeholder="Stefan" autofocus="")
      p
        label= lname
        input(type="text" name="lastname" maxlength="20" size="25" placeholder="Ivanisevic")
      p
        label= email
        input#mailmini(type="email" name="email" size="25" placeholder="si0539@student.uni-lj.si")
        span name@domain
      p
        label= pass
        input.pass(type="password" name="password" size="25" placeholder="Passwords need to match!")
        span
      p
        label= rpass
        input.pass(type="password" name="repassword" size="25" placeholder="Passwords need to match!")
        span
      p
        label= bday
        input(style="color: #FFD400" type="date" name="date" size="25" value="2018-05-23")
      button.restartdugme(type="reset")
        i.fa.fa-trash
      button#submit.editbutton(type="submit" onclick="click_submit()") Save changes

docs/users/edit/edit.html
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Prevedena in minimizirani slogi CSS verzije 3.3.7 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Opcijske teme verzije 3.3.7 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="../../WWS/public/stylesheets/edit.css">

  <title>Profile Edit</title>


</head>



<body>


  <!--  NavBar   -->

  <div class="container-fluid">



    <div class="navbar desktop_menu_div">
      <ul class="desktop_menu_ul">
        <li class="desktop_menu_list"> <a href="../home/home.html"> HOME </a> </li>
        <li class="desktop_menu_list active"> <a href="../my-profile/my-profile.html">PROFILE</a> </li>
        <li class="desktop_menu_list"> <a href="../aboutus/aboutus.html"> ABOUT US </a> </li>
        <li class="desktop_menu_list"> <a href="../../visitor/homevisitors/homevisitors.html"> LOG OUT </a> </li>
      </ul>
      <div class="search_right_desktop_menu">
        <a href="#"> <i class="fa fa-search"></i> </a>
      </div>
    </div>



    <!--  MiniNavBar  -->
    <div class="accordion" id="accordionExample">
      <div class="card smallnav">
        <div class="card-header" id="headingOne">
          <h5 class="mb-1324">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <i class="fa fa-bars"></i>
            </button>
            <a href="#" class="search_right_desktop_menu"> <i class="fa fa-search"> </i> </a>
          </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <div class="navbar">
              <ul class="mini_ul">
                <li> <a href="../home/home.html">HOME <i class="fa fa-home"></i> </a> </li>
                <li class="active"> <a href="../my-profile/my-profile.html">PROFILE <i class="fa fa-user"></i> </a> </li>
                <li> <a href="../aboutus/aboutus.html">ABOUT US <i class="fa fa-heart"></i> </a> </li>
                <li> <a href="../../visitor/homevisitors/homevisitors.html">LOG OUT <i class="fa fa-user"></i> </a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

  <!--  NavBar  -->

  <!-- Profilecard > 800px  -->

  <div class="profilecard">

    <div class="imgedit">
      <img class="img-circle" src="../../WWS/public/images/stefan.jpg" alt="User's picture">
      <button class="edit"><i class="fas fa-edit"></i></button>
      <button class="delete"><i class="fa fa-trash"></i></button>
    </div>

    <form method="#" action="#" id="forma">

      <p>
        <input type="text" name="name" maxlength="15" size="25" placeholder="Stefan" autofocus/>
        <label>First name</label>
      </p>

      <p>
        <input type="text" name="lastname" maxlength="20" size="25" placeholder="Ivanisevic" />
        <label>Last name</label>
      </p>

      <p>
        <input id="mail" type="email" name="email" size="25" placeholder="si0539@student.uni-lj.si" />
        <span class="validity">name@domain</span>
        <label>E-mail</label>
      </p>

      <p>
        <input id="tel" type="tel" name="phone" size="25" placeholder="+386 51 787 871" pattern="\+[0-9]{3} [0-9]{2} [0-9]{3} [0-9]{3}" />
        <span class="validity">+*** ** *** ***</span>
        <label>Tel</label>
      </p>

      <p>
        <input class="pass" type="password" name="password" size="25" placeholder="Passwords need to match!" />
        <span class="validity"></span>
        <label>Password</label>
      </p>

      <p>
        <input class="pass" type="password" name="password" size="25" placeholder="Passwords need to match!" />
        <span class="validity"></span>
        <label>Repeat password</label>
      </p>

      <p>
        <input style="color: #FFD400" type="date" name="date" size="25" value="2018-05-23" />
        <label>Date of birth</label>
      </p>

      <button class="restartdugme" type="reset"><i class="fa fa-trash"></i> </button>
      <input class="editbutton" type="submit" value="Save changes">

    </form>

  </div>

  <!--  Profilecard < 800px   -->

  <div class="profilecardmini">

    <div class="imgedit">
      <img class="img-circle" src="../../WWS/public/images/stefan.jpg" alt="User's picture">
      <button class="edit"><i class="fas fa-edit"></i></button>
      <button class="delete"><i class="fa fa-trash"></i></button>
    </div>

    <form method="#" action="#" id="formamini">

      <p id="para_name">
        <label id="firstname">First name</label>
        <input id="name" type="text" maxlength="15" onkeyup="checkString()" size="25" placeholder="Stefan" autofocus/>
      </p>

      <p>
        <label>Last name</label>
        <input type="text" name="lastname" maxlength="20" size="25" placeholder="Ivanisevic" />
      </p>

      <p>
        <label>E-mail</label>
        <input id="mailmini" type="email" name="email" size="25" placeholder="si0539@student.uni-lj.si" />
        <span class="validity">name@domain</span>
      </p>

      <p>
        <label>Tel</label>
        <input id="telmini" type="tel" name="phone" size="25" placeholder="+386 51 787 871" pattern="\+[0-9]{3} [0-9]{2} [0-9]{3} [0-9]{3}" />
        <span class="validity">+*** ** *** ***</span>
      </p>

      <p>
        <label>Password</label>
        <input class="pass" type="password" name="password" size="25" placeholder="Passwords need to match!" />
        <span class="validity"></span>
      </p>

      <p>
        <label>Repeat password</label>
        <input class="pass" type="password" name="password" size="25" placeholder="Passwords need to match!" />
        <span class="validity"></span>
      </p>

      <p>
        <label>Date of birth</label>
        <input style="color: #FFD400" type="date" name="date" size="25" value="2018-05-23" />
      </p>

      <button class="restartdugme" type="reset"><i class="fa fa-trash"></i> </button>
      <button id="submit" class="editbutton" type="submit" onclick="click_submit()">Save changes</button>

    </form>

  </div>


  <!--  Scripts  -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../../WWS/public/javascripts/validation_inputs.js"></script>


</body>

</html>


<!--

COLORS NavBar

#091216 - Black-ish - Background color
#4F5558 - Less black-ishhh - Hover color
#FFD400 - Yellow - Active color
#F6F6E9 - White - Text color
#1C323F - Blue-ish - Focus


-->
