docs/WWS/app_server/views/homeVisitors.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    // Prevedena in minimizirani slogi CSS verzije 3.3.7
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    // Opcijske teme verzije 3.3.7
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")
    // Icons
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
    link(href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" rel="stylesheet")
    //
      ---- SCRIPT FOR MAPS ------------------------
      <script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
    link(rel="stylesheet" type="text/css" href="/stylesheets/homevisitors.css")
    title HOME VISITORS
  body
    // -------------------------------- NavBar --------------------------------
    .container-fluid
      .navbar.desktop_menu_div
        ul.desktop_menu_ul
          li.desktop_menu_list
            a(href="/homevisitors")  HOME
          li.desktop_menu_list
            a(href="/aboutusvisitors")  ABOUT US
          li.desktop_menu_list
            a(href="/login")  SIGN IN
          li.desktop_menu_list
            a(href="/register")  REGISTER
        .search_right_desktop_menu
          a(href="#")
            i.fa.fa-search
      // -------------------------------- MiniNavBar --------------------------------
      #accordionExample.accordion
        .card
          #headingOne.card-header
            h5.mb-1324
              button.btn.btn-link(type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
                i.fa.fa-bars
              a.search_right_desktop_menu(href="#")
                i.fa.fa-search
          #collapseOne.collapse(aria-labelledby="headingOne" data-parent="#accordionExample")
            .card-body
              .navbar
                ul.mini_ul
                  li
                    a(href="/homevisitors")
                      | HOME
                      i.fa.fa-home
                  li
                    a(href="/aboutusvisitors")
                      | ABOUT US
                      i.fa.fa-heart
                  li
                    a(href="/login")
                      | SIGN IN
                      i.fa.fa-sign-in-alt
                  li
                    a(href="/register")
                      | REGISTER
                      i.fa.fa-registered
    // ------------ MAPA -----------------------------
    #map
    // Funkcija za ocitavanje mape
    script.
      function initMap(){
      //Map options
      var options={
      zoom:10,
      center:{lat:46.0569,lng:14.5058}
      }
      //Novi objekat MAP
      var map=new google.maps.Map(document.getElementById('map'),options);
      }
    script(type="text/javascript" src="/javascripts/home_skripta.js")
    script(async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDooAMNG2ibihrYFEDEInjuS9yqLu0ruYk&callback=initMap")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    // -jQuery,JavaScript i Popper.js plugins,uvijek kod /body taga
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")

docs/visitor/homevisitors/homevisitors.html
<!DOCTYPE HTML>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- Prevedena in minimizirani slogi CSS verzije 3.3.7 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Opcijske teme verzije 3.3.7 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    
        <link href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" rel="stylesheet"/>
        
        <!------ SCRIPT FOR MAPS ------------------------
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script> -->
        <link rel="stylesheet" type="text/css" href="../../WWS/public/stylesheets/homevisitors.css">
        
        <title>HOME</title>
        
    </head>
    <body>
        <!--  -------------------------------- NavBar --------------------------------  -->   

  <div class="container-fluid">
    
    <div class="navbar desktop_menu_div">
      <ul  class="desktop_menu_ul">
        <li class="desktop_menu_list active"> <a href="./homevisitors.html"> HOME </a> </li>
        <li class="desktop_menu_list "> <a href="../aboutusvisitor/aboutus.html"> ABOUT US </a> </li>
        <li class="desktop_menu_list"> <a href="../login/login.html"> SIGN IN </a> </li>
        <li class="desktop_menu_list"> <a href="../register/register.html"> REGISTER </a> </li>
      </ul>
      <div class="search_right_desktop_menu">
        <a href="#"> <i class="fa fa-search"></i> </a>
      </div>
    </div>
<!--  -------------------------------- MiniNavBar --------------------------------  -->      
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-1324">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <i class="fa fa-bars"></i>
            </button>
            <a href="#"  class="search_right_desktop_menu"> <i class="fa fa-search"> </i> </a>
          </h5>
        </div>
      
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <div class="navbar">
              <ul class="mini_ul">
                <li class="active"> <a href="./homevisitors.html">HOME <i class="fa fa-home"></i> </a> </li>
                <li> <a href="../aboutusvisitor/aboutus.html">ABOUT US <i class="fa fa-heart"></i> </a> </li>
                <li> <a href="../login/login.html">SIGN IN <i class="fa fa-sign-in-alt"></i> </a> </li>
                <li> <a href="../register/register.html">REGISTER <i class="fa fa-registered"></i> </a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
      
      
 </div>
 <!-------------- MAPA ------------------------------->
    <div id="map"></div>
        
        <!--Funkcija za ocitavanje mape-->
        <script>
            function initMap(){
                //Map options
                var options={
                    zoom:10,
                    center:{lat:46.0569,lng:14.5058}
                }
                 //Novi objekat MAP
                 
                var map=new google.maps.Map(document.getElementById('map'),options);
            }
            
            
        </script>
        
     <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDooAMNG2ibihrYFEDEInjuS9yqLu0ruYk&callback=initMap">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  

        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <!---jQuery,JavaScript i Popper.js plugins,uvijek kod /body taga-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>    
    </body>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
</html>
