docs/WWS/app_server/views/myProfile.pug
extends layout

block content
  if !users
    .profilecard
      h2(name="name")= fname
        br
      h2(name="lastname")= lname
      .title
        h3
          i.fa.fa-envelope
          a(name="email")= email
      div
        .from
          h3
            font(color="#FFD400") FROM
            br
            small
              strong= from
              i.fa.fa-flag-checkered
              br
              h4(name="country")= country
              br
              h4= fromCity
      p
        a(href="/myprofile/edit")
          button.editbutton Edit profile
    .profilecardmini
      h2(name="name")= fname
        br
      h2(name="lastname")= lname
      .titlemini
        h3
          a(name="email")= email
      div
        .frommini
          h3
            font(color="#FFD400") FROM
            br
            small
              strong= from
              i.fa.fa-flag-checkered
              br
              h4(name="country")= country
              br
              h4= fromCity
      p
        a(href="/myprofile/edit")
          button.editbutton Edit profile
    p#allUsersPreview View all
      a(href="/myprofile/allusers")  users
  if users
    each user in users
      form(method="POST" action="/myprofile/delete")
        .profilecard
          h2(name="name")= user.fname
            br
          h2(name="lastname")= user.lname
          .title
            h3
              i.fa.fa-envelope
              a(name="email")= user.email
          div
            .from
              h3
                font(color="#FFD400") FROM
                br
                small
                  strong= from
                  i.fa.fa-flag-checkered
                  br
                  h4(name="country")= user.country
                  br
                  h4= fromCity
            input.hidden(type="text" value=user._id name="_id")
            button.editbutton Delete user
      form(method="POST" action="/myprofile/delete")
        .profilecardmini
          h2(name="name")= user.fname
            br
          h2(name="lastname")= user.lname
          .titlemini
            h3
              a(name="email")= user.email
          div
            .frommini
              h3
                font(color="#FFD400") FROM
                br
                small
                  strong= from
                  i.fa.fa-flag-checkered
                  br
                  h4(name="country")= user.country
                  br
                  h4= fromCity
            input.hidden(type="text" value=user._id name="_id")
            button.editbutton Delete user

docs/WWS/app_client/users/myprofile.html
<navigation></navigation>

<div class="profilecard" ng-show="navvm.isLogedIn">
  <h2 name="name"><br/> {{navvm.currentUser.fname}} </h2>
  <h2 name="lname"> {{navvm.currentUser.lname}} </h2>
  <div class="title">
    <h3><i class="fa fa-envelope"></i><a name="email"> {{navvm.currentUser.email}} </a></h3>
  </div>
  <div>
    <div class="from">
      <h3>
        <font color="#FFD400">FROM</font><br/><small><strong></strong><i class="fa fa-flag-checkered"></i><br/>
          <h4 name="country">{{navvm.currentUser.country}} </h4><br/>
          <h4></h4></small></h3>
    </div>
  </div>
</div>

<div class="profilecardmini" ng-show="navvm.isLogedIn">
  <h2 name="name"><br/> {{navvm.currentUser.fname}} </h2>
  <h2 name="lname"> {{navvm.currentUser.lname}} </h2>
  <div class="titlemini">
    <h3><a name="email"> {{navvm.currentUser.email}} </a></h3>
  </div>
  <div>
    <div class="frommini">
      <h3>
        <font color="#FFD400">FROM</font><br/><small><strong></strong><i class="fa fa-flag-checkered"></i><br/>
          <h4 name="country">{{navvm.currentUser.country}} </h4><br/>
          <h4></h4></small></h3>
    </div>
  </div>
  <p><a href="/myprofile/edit">
      <button class="editbutton">Edit profile</button></a></p>
</div>
<p id="allUsersPreview">View all<a href="/myprofile/allusers"> users</a>
