docs/visitor/register/register.html
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Bootstrap css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="../../WWS/public/stylesheets/style_register.css">
        
        
        
        
        
        <title>Register</title>
    </head>
    <body>
        <!--Klasa da se card postavi u sredinu-->
        <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
				<h3>Sign Up</h3>
				
			</div>
		<div class="card-body">	
		
     <!------------------     FORMA    ------------------------------------>
        <form id="forma" action="../../users/my-profile/my-profile.html">
            
            <div class="form-row">
                <div class="input-group form-group col-xs-6">
                    
                    <div class="input-group-prepend"> <!--Dodavanje ikonice-->
                        <span class="input-group-text"><i class="fas fa-user"></i></span><!--Dodavanje ikonice-->
                    </div>
                  <input type="text" class="form-control" id="name" name="korisnicko_ime" placeholder="First Name" required>
            </div>  
            
            <div class="input-group form-group col-xs-6">
                <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                 <input type="text" class="form-control" id="lastname" placeholder="Last Name" >
            </div>
            
            </div>
     
        
            <div class="input-group form-group">
                <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                </div>
                <input type="email" class="form-control" id="mail" placeholder="Enter your e-mail" required>
            </div>
            
            
            <div class="input-group form-group">
                <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" class="form-control" id="pwd" name="sifra" placeholder="Password" required>
            </div>
            
            
            <div class="input-group form-group">
                <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" class="form-control" id="repwd" placeholder="Repeat password" required>
            </div>
            
            
                   
            <!-- Choosing country --->
            
            
            
            <div class="input-group form-group">
                <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-flag"></i></span>
                </div>
                <input type="text" class="form-control" id="country_name" placeholder="Enter your country" required>
            </div>
                
                
                
            
            
            <div class="birth_day">
                <label for="date_picker"><h6>Select your birthday:</h6></label>
                <div class="input-group form-group">
               
                       <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                        </div>
                   <input type="date" class="form-control" id="date_picker" required>
               </div>
           </div>
           
            <!--INLINE DUGMAD KORISTECI ROW I COL KLASE BOOTSTRAPA ---->
            
            <div class="row">
                <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend" id="musko_zenski">
                            <div class="input-group-text mz pb-0">
                                <label class="form-group-label">
                                    <i class="fas fa-female fa-lg "></i>
                                <input checked type="radio" name="gender" value="Mrs" required> Mrs
                                </label>
                            </div>
                            
                            <div class="input-group-text mz pb-0">
                                <label>
                                    <i class="fas fa-male fa-lg "></i>
                                <input type="radio" name="gender" value="Mr" required> Mr
                                </label>
                            </div>
               
                        </div>
                    </div>
                </div>
                </div>
                    
            <div class="form-group">
                <input class="btn float-right login_dugme" type="submit" value="Sign Up">
            </div>
            
        </form>
        </div>
        </div>
        </div>
        
        
        
    <!--jQuery,JavaScript i Popper.js plugins,uvijek kod /body taga-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="validation_inputs.js"></script>
    </body>
</html>

docs/WWS/app_server/views/register.pug
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    // Bootstrap css
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
    link(href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="/stylesheets/style_register.css")
    title Register
  body
    // Klasa da se card postavi u sredinu
    .d-flex.justify-content-center.h-100
      .card
        .card-header
          h3 Sign Up
        .card-body
          // ----------------     FORMA    ----------------------------------
          form(method='POST' action='/register')
            .form-row
              .input-group.form-group.col-xs-6
                .input-group-prepend
                  // Dodavanje ikonice
                  span.input-group-text
                    i.fas.fa-user
                  // Dodavanje ikonice
                input#name.form-control(type="text" name="name" placeholder="First Name")
              span#name1.text-danger
              .input-group.form-group.col-xs-6
                .input-group-prepend
                  span.input-group-text
                    i.fas.fa-user
                input#lastname.form-control(type="text" name="lastname" placeholder="Last Name")
              span#lastname1.text-danger
            .input-group.form-group
              .input-group-prepend
                span.input-group-text
                  i.fas.fa-envelope
              input#mail.form-control(type="text" name="mail" placeholder="Enter your e-mail")
            span#mail_1.text-danger
            .input-group.form-group
              .input-group-prepend
                span.input-group-text
                  i.fas.fa-key
              input#pass1.form-control(type="password" name="pass1" placeholder="Password")
            span#pass_1.text-danger
            .input-group.form-group
              .input-group-prepend
                span.input-group-text
                  i.fas.fa-key
              input#pass2.form-control(type="password" name="pass2" placeholder="Repeat password")
            span#pass_2.text-danger
            // Choosing country -
            label  Select your county
            .input-group.form-group
              .input-group-prepend
                span.input-group-text
                  i.fas.fa-flag
              select#country.form-control(name="country" placeholder="Select your country")
                //each uni in unis
                option(value=uni.id) #{uni.country}
            // Choosing uni -
            label  Select your university
            .input-group.form-group
              .input-group-prepend
                span.input-group-text
                  i.fas.fa-flag
              select#country.form-control(name="university" placeholder="Select your university")
                //each uni in unis
                option(value=uni.id) #{uni.uniName}
            span#country_name.text-danger
            .birth_day
              label(for="date_picker")
                h6 Select your birthday:
              .input-group.form-group
                .input-group-prepend
                  span.input-group-text
                    i.fas.fa-calendar
                input#date_picker.form-control(type="date" name="bday")
            // INLINE DUGMAD KORISTECI ROW I COL KLASE BOOTSTRAPA --
            .form-group
              button.btn.float-right.login_dugme(type='submit' name="submit") Sign up
    // jQuery,JavaScript i Popper.js plugins,uvijek kod /body taga
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")
